body {
    width: 100vw;
    height: 100vh;
    background: rgb(133, 9, 144);
    background: linear-gradient(90deg, rgba(27, 41, 94, 1) 18%, rgba(133, 9, 144, 1) 48%);

}

.main {
    color: rgb(242, 248, 161);
    margin-left: 10vw;
    margin-top: 10vh;
    text-shadow: 3px 1px 1px #020202;
}

a {
    color: hotpink;
}